<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="/addPost">
      Title: <input type="text" name="title" />
      Author: <input type="text" name="author" />
      Summary: <input type="text" name="summary" />
      Content: <textarea name="content">
      </textarea>
      <button>Submit</button>
    </form>
  </body>
</html>