<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <h1><%= post.title %></h1>
  <div>Author: <%= post.author %></div>
  <div>Date: <%= post.created %></div>
  <div><%= post.content %></div>
  <a href="/blogs">Home</a>
  </body>
</html>